<html>
  <body>
    <p> Welcome to CapitaOneder, your citizenship is a click away! </p>

    <form action='/success', method='POST'>
      First Name:<br>
      <input type='text' name='firstname'>
      <br>
      Surname:<br>
      <input type='text' name='surname'>
      Previous Country: <br>
      <input type='text' name='previouscountry'>
      <br>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
